# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Get to know about languages used for data science
* Get to know about different libraries used by data scientist
* Learn about jupyter notebook and git

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Awais Ali